APP_NAME=task-api
APP_ENV=local

POSTGRES_USER=appuser
POSTGRES_PASSWORD=change-me
POSTGRES_DB=appdb
DB_HOST=db
DB_PRIMARY_HOST=db
DB_READ_HOST=db
DB_PORT=5432
DB_NAME=appdb
DB_USER=appuser
DB_PASSWORD=change-me

CACHE_ENABLED=true
CACHE_TTL_SECONDS=60
REDIS_HOST=redis
REDIS_PORT=6379

OTEL_SERVICE_NAME=task-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://host.docker.internal:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_TRACES_SAMPLER=parentbased_always_on
DEBUG_SLOW_SECONDS=0.6
