# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Secrets / Keys
*.pem
*.key
id_rsa
id_rsa.pub
kubeconfig
*.kubeconfig