fastapi
uvicorn[standard]
psycopg2-binary
redis
prometheus-client
opentelemetry-api==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation-fastapi==0.65b0
opentelemetry-instrumentation-psycopg2==0.65b0
opentelemetry-instrumentation-redis==0.65b0
